.button{
  border: 0;
  background-color: #d6c689;
  border-radius: 8px;
  color: #192b37;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 2px;
  cursor: pointer;
  transition: .3s;
}

.button span{
  /* background-color: #0e1213; */
  padding: 8px 18px;
  border-radius: 6px;
  transition: .5s;
}

.button:hover span{
  background-color: #0e1213;
  color: #d6c689;
}

.button:active{
  transform: scale(0.9)
}