.filterContainer select {
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

legend {
  color: white;
}

/* Media queries para dispositivos móviles */
/* @media screen and (max-width: 768px) {
  .filterContainer select {
    padding: 4px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .filterContainer select {
    padding: 2px;
    font-size: 12px;
  }
} */