/* .filterContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.filterContainer select {
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}