.landingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0,212,255);
  background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1.5) 100%); 
  background-image: url("https://images.blz-contentstack.com/v3/assets/bltf408a0557f4e4998/bltd6a3e4b53209d445/63ec05bc9fcac365e25253a0/WoW_Free_Trial_BG.png");
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  };
  10% {
    opacity: 1;
    filter: brightness(3) blur(10px) ;
  }
}

.titleContainer {
  text-align: center;
  color: #cedbe4;
  margin: 0;
  margin-top: 3rem;
  z-index: 1;
  font-weight: 900;
}

.subTitleContainer {
  color: #cedbe4;
  z-index: 1;
  font-weight: 900;
}

.landingContainer button {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.landingContainer button {
  background: rgba(0, 140, 255, 1);
  box-shadow: 0 0 25px rgba(0, 140, 255, 0.5);
}

.landingContainer button:hover {
  box-shadow: 0 0 5px rgba(0, 140, 255, 0.5), 0 0 25px rgba(0, 140, 255, 0.7),
    0 0 50px rgba(0, 140, 255, 0.9), 0 0 100px rgba(0, 140, 255, 1.2);
}