.navBarContainer{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
  margin: 12px 32px 0 32px;
}

.logo {
  width: 11em;
}
.logo:hover {
  scale: 1.02;
}

.logo:active {
  scale: .96;
}

.navBarContainer h2{
  margin-left: 28px;
  color: #cedbe4;
  font-size: 28px;
  margin: 12px;
}

.navBarContainer a{
  text-decoration: none;
  color: #cedbe4
}

.button{
  border: 0;
  background-color: #d6c689;
  border-radius: 8px;
  color: #192b37;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  padding: 2px;
  cursor: pointer;
  transition: .3s;
}

.button span{
  /* background-color: #0e1213; */
  padding: 8px 18px;
  border-radius: 6px;
  transition: .5s;
}

.button:hover span{
  background-color: #0e1213;
  color: #d6c689;
}

.button:active{
  transform: scale(0.9)
}