.navContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.navContainer img {
  height: 100px;
  width: auto;
}

.navLogo {
  display: flex;
  margin-left: 10%;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  animation: rotate 5s infinite linear;
}

.navContainer h1{
  margin-left: 2rem;
  color: #f1f1f1;
  font-size: 2rem;
}

.navContainer ul li {
  background-color: rgba(0, 140, 255, 1); 
  border: none;
  border-radius: 12px;
  color: #f1f1f1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.navContainer ul li:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 140, 255, 0.5),0 17px 50px 0 rgba(0, 140, 255, 0.7);
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

 /* Media queries para dispositivos móviles */
 @media only screen and (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    padding: 2% 5%;
  }
   .navContainer h1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 1rem;
  }
   .navLogo {
    margin-left: 0;
    margin-bottom: 1rem;
  }
   .navContainer ul li {
    padding: 10px 20px;
    font-size: 14px;
    margin: 2px;
  }
}

@media only screen and (max-width: 480px) {
  .navContainer {
    flex-direction: column;
    padding: 2% 5%;
  }
   .navContainer h1 {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: 1rem;
  }
   .navLogo {
    margin-left: 0;
    margin-bottom: 1rem;
  }
   .navContainer ul li {
    padding: 8px 16px;
    font-size: 12px;
    margin: 2px;
  }
}